/* All classes should use rp-* */

.rp-bar{
    border: 2px solid deepskyblue;
    border-radius: 5px;
    background: white;
    height: 28px;
    vertical-align: center;
    font-size: 16px;
    padding: 3px;
}

.rp-bar-github {
    position: absolute;
    top: 0px;
    left: 50%;
    width: 400px;
    height: auto;
}

.rp-stats {
    float: left;
    width: 35%;
}

.rp-stats-github {
    width: 100%;
}

@keyframes rp-message-ani{
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0.2;
    }
}

@keyframes rp-stats-ani{
    0%{
        background-color: #00ff0088;
    }
    100%{
        background-color: #00FF0000;
    }
}

.rp-message {
    float: right;
    width: 35%;
}

.rp-message-github {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.rp-message-text {
    animation-name: rp-message-ani;
    animation-duration: 2000ms;
    animation-fill-mode: forwards;
}

.rp-stats-table {
    width: 100%;
}
.rp-stats-table th {
    text-align: right;
    padding-left: 10px;
}

.rp-stats-table td  {
    padding-left: 10px;
}

.rp-stats-text {
    animation-name: rp-stats-ani;
    animation-duration: 700ms;
    animation-fill-mode: forwards;
}

@keyframes rp-jump-ani{
      0% { opacity: 1.0; }
     50% { opacity: 0.2; }
    100% { opacity: 1.0; }
}
.rp-jump {
    animation-name: rp-jump-ani;
    animation-duration: 500ms;
    animation-fill-mode: forwards;
/*
    border-bottom: 5px solid purple !important;
    border-left: 5px solid purple !important;
 */
}

.rp-jump:after{
    content: "Current diff    ";
    display: block;
    position: absolute; right: 0px;
    width: 100%;
    border: 3px solid #ffa50080;
    font-style: italic;
    font-size: smaller;
    text-align: right;
    pointer-events: none;
}

.rp-jump-github {
    animation-name: rp-jump-ani;
    animation-duration: 500ms;
    animation-fill-mode: forwards;
}

.rp-jump-github td {
    border-top: 3px solid #ffa50080;
    border-bottom: 3px solid #ffa50080;
}


.rp-tools {
    width: 30%
}

.rp-button {
    background-color: white;
    border: 2px solid;
    border-radius: 5px;
    padding: 2px;
    font-size: 16px;
    height: 24px;
    vertical-align: center;
    margin-right: 2px;
}

.rp-clearAll {
    border-color: orangered;
}
.rp-setAll {
    border-color: darkseagreen;
}

.rp-hidden {
    /* background-color: #cccccc !important; */
    color: darkgray !important;
}

.aui-badge.rp-counter {
    padding-left: 5px;
    padding-right: 5px;
}
.aui-badge.rp-counter-done {
    background: #ccffcc;
    font-weight: lighter;
}
.aui-badge.rp-counter-todo {
    background: #ffcccc;
    font-weight: bold;
}

.diffContentA.rp-hidden , .diffLineNumbersA.rp-hidden {
    background-color: #FFF0F0 !important;
}
.diffContentB.rp-hidden , .diffLineNumbersB.rp-hidden{
    background-color: #DCFFDC !important;
}

a.rp-label:link {
   text-decoration: none;
}

.rp-forcedBreak {
    border-top: 2px dashed gray;
}

.rp-reset {
    font-size: 10px;
    height: 16px;
}

.rp-toolbox {
    float: right;
    background: orange;
    vertical-align: middle;
}

.rp-github-per-file-stats {
    float: right;
    width: 180px;
    text-align: left;
    padding: 2px;
}

.rp-github-per-file-stats.all-done {
    color: #0008;
    font-style: italic;
    border: 2px solid green;
}

.rp-github-per-file-stats img {
    vertical-align: middle;
}

.rp-selection-0 { color: white; background: orange; }
.rp-selection-1 { color: white; background: red; }
.rp-selection-2 { color: white; background: green; }
.rp-selection-3 { color: white; background: blue; }
.rp-selection-4 { color: white; background: salmon; }
.rp-selection-5 { color: white; background: darkcyan; }
.rp-selection-6 { color: white; background: darkmagenta; }
.rp-selection-7 { color: white; background: darkgoldenrod; }
