/* All classes should use cdm-* */

.cdm-bar{
    border: 2px solid deepskyblue;
    border-radius: 5px;
    background: white;
    height: 28px;
    vertical-align: center;
    font-size: 16px;
    padding: 3px;
}

.cdm-bar-github {
    position: absolute;
    top: 0px;
    left: 50%;
    width: 400px;
    height: auto;
}

.cdm-stats {
    float: left;
    width: 35%;
}

.cdm-stats-github {
    width: 100%;
}

@keyframes cdm-message-ani{
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0.2;
    }
}

@keyframes cdm-stats-ani{
    0%{
        background-color: #00ff0088;
    }
    100%{
        background-color: #00FF0000;
    }
}

.cdm-message {
    float: right;
    width: 35%;
}

.cdm-message-github {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.cdm-message-text {
    animation-name: cdm-message-ani;
    animation-duration: 2000ms;
    animation-fill-mode: forwards;
}

.cdm-stats-table {
    width: 100%;
}
.cdm-stats-table th {
    text-align: right;
    padding-left: 10px;
}

.cdm-stats-table td  {
    padding-left: 10px;
}

.cdm-stats-text {
    animation-name: cdm-stats-ani;
    animation-duration: 700ms;
    animation-fill-mode: forwards;
}

@keyframes cdm-jump-ani{
      0% { opacity: 1.0; }
     50% { opacity: 0.2; }
    100% { opacity: 1.0;
           background-color: red; }
}
.cdm-jump {
    animation-name: cdm-jump-ani;
    animation-duration: 500ms;
    animation-fill-mode: forwards;
/*
    border-bottom: 5px solid purple !important;
    border-left: 5px solid purple !important;
 */
}

.cdm-jump:after{
    content: "Current diff    ";
    display: block;
    position: absolute; right: 0px;
    width: 100%;
    border: 3px solid #ffa50080;
    font-style: italic;
    font-size: smaller;
    text-align: right;
    pointer-events: none;
}

.cdm-jump-github {
    animation-name: cdm-jump-ani;
    animation-duration: 500ms;
    animation-fill-mode: forwards;
}

.cdm-jump-github td {
    border-top: 3px solid #ffa50080;
    border-bottom: 3px solid #ffa50080;
}


.cdm-tools {
    width: 30%
}

.cdm-button {
    background-color: white;
    border: 2px solid;
    border-radius: 5px;
    padding: 2px;
    font-size: 16px;
    height: 24px;
    vertical-align: center;
    margin-right: 2px;
}

.cdm-clearAll {
    border-color: orangered;
}
.cdm-setAll {
    border-color: darkseagreen;
}

.cdm-hidden {
    /* background-color: #cccccc !important; */
    color: darkgray !important;
}

.aui-badge.cdm-counter {
    padding-left: 5px;
    padding-right: 5px;
}
.aui-badge.cdm-counter-done {
    background: #ccffcc;
    font-weight: lighter;
}
.aui-badge.cdm-counter-todo {
    background: #ffcccc;
    font-weight: bold;
}

.diffContentA.cdm-hidden , .diffLineNumbersA.cdm-hidden {
    background-color: #FFF0F0 !important;
}
.diffContentB.cdm-hidden , .diffLineNumbersB.cdm-hidden{
    background-color: #DCFFDC !important;
}

a.cdm-label:link {
   text-decoration: none;
}

.cdm-forcedBreak {
    border-top: 2px dashed gray;
}

.cdm-reset {
    font-size: 10px;
    height: 16px;
}

.cdm-toolbox {
    float: right;
    background: orange;
    vertical-align: middle;
}

.cdm-github-per-file-stats {
    float: right;
    width: 180px;
    text-align: left;
    padding: 2px;
}

.cdm-github-per-file-stats.all-done {
    color: #0008;
    font-style: italic;
    border: 2px solid green;
}

.cdm-github-per-file-stats img {
    vertical-align: middle;
}
